<header id="fondo-header">

    <nav class="barra-de-navegacion">

        <div class="nav-desktop">
            <ul class="barra-de-opciones-desktop">
                <li><a href="/usuarios/atencion-de-clientes">Atención al cliente</a></li>
                <li><a href="/usuarios/encuentra-tu-tienda">Encuentra tu tienda</a></li>
            </ul>
    
            <!--Menú despegable-->
            <div class="menu-despegable-desktop"> 
                <ul>
                    <li class="item-menu-desktop"><a href="#"><i class="fas fa-ellipsis-h"></i></a>
    
                        <ul class="opciones-despegables-desktop">
                            <li><a href="https://play.google.com/store"><div class="android-desktop">Descargar para Android</div></a></li>
                            <li><a href="https://www.apple.com/app-store/"><div class="ios-desktop">Descargar para iOS</div></a></li>
                        </ul>
    
                    </li>
                </ul>
            </div>
        </div>

        <div class="nav-celular-tablet">

            <div class="menu-celular-tablet">
                <i class="fas fa-bars"></i>
            </div>

            <ul class="barra-de-opciones-celular-tablet">
                <li><a href="/productos/lo-mas-buscado">Lo más buscado</a></li>
                <li><a href="/productos/niño">Niño</a></li>
                <li><a href="/productos/hombre">Hombre</a></li>
                <li><a href="/productos/novedades">Novedades</a></li>
                <li><a href="/productos/mujer">Mujer</a></li>
                <li><a href="/productos/niña">Niña</a></li>
                <li><a href="/productos/los-mas-vendidos">Los más vendidos</a></li>
                <li><a href="/productos/bebe">Bebés</a></li>
                <li><a href="/usuarios/atencion-de-clientes">Atención al cliente</a></li>
                <li><a href="/usuarios/encuentra-tu-tienda">Encuentra tu tienda</a></li>
            </ul>
    
        </div>

        <div class="nombre-Berle-G">Berle G</div>

        <form class="barra-de-busqueda" action="/" method="">
            <div class="barra-busqueda">
            <input type="text" placeholder="Buscar"><i class="fas fa-search"></i>
            </div>
        </form>

        <ul class="barra-de-opciones-iconos">
            <li><a href="/favoritos"><i class="far fa-heart"></i></a></li>
            <li><a href="/usuarios/ingreso"><i class="fas fa-user"></i></a></li>
            <li><a href="/carrito/carrito-de-productos"><i class="fas fa-shopping-bag"></i></a></li>
        </ul>

    </nav>

    <div class="secciones-por-edades">
        <i class="fas fa-chevron-left"></i>
        <li><a href="/productos/lo-mas-buscado"><img src="/img/img-main/seccion-lo-mas-buscado.png">Lo más buscado</a></li>
        <li><a href="/productos/niño"><img src="/img/img-main/seccion-niño.jpg">Niño</a></li>
        <li><a href="/productos/hombre"><img src="/img/img-main/seccion-hombre.jpg">Hombre</a></li>
        <li><a href="/productos/novedades"><img src="/img/img-main/seccion-novedades.png">Novedades</a></li>
        <li><a href="/productos/mujer"><img src="/img/img-main/seccion-mujer.jpg">Mujer</a></li>
        <li><a href="/productos/niña"><img src="/img/img-main/seccion-niña.jpg">Niña</a></li>
        <li><a href="/productos/los-mas-vendidos"><img src="/img/img-main/seccion-los-mas-vendidos.png">Los más vendidos</a></li>
        <li><a href="/productos/bebe"><img src="/img/img-main/seccion-bebés.jpg">Bebés</a></li>
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="ofertas"><a href="/productos/rebajas"><div class="ir-a-ofertas">Rebajas</div></a></div>

    <div>&nbsp</div>

</header>