<div class="secciones-importantes-main">
    <div class="seccion-importante"><a href="/productos/novedades"><div>NOVEDADES</div></a></div>
    <div class="seccion-importante"><a href="/productos/los-mas-vendidos"><div>LOS MÁS VENDIDOS</div></a></div>
    <div class="seccion-importante"><a href="/productos/rebajas"><div>REBAJAS</div></a></div>
    <div class="seccion-importante"><a href="/productos/lo-mas-buscado"><div>LO MÁS BUSCADO</div></a></div>
</div>