<!DOCTYPE html><!--Página principal-->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berle G</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-index.css">
</head>

<body>

    <header id="fondo-header">

    <div class="barra-de-navegacion">

        <ul class="barra-de-opciones">
            <li><a href="/customer-service">Atención al cliente</a></li>
            <li><a href="/store-locator">Encuentra tu tienda</a></li>
        </ul>

        <!--Menú despegable-->
        <div class="menu-despegable">
            <ul>
                <li class="item-menu"><a href="#"><i class="fas fa-ellipsis-h"></i></a>

                    <ul class="opciones-despegables">
                        <li><a href="https://play.google.com/store"><div class="android">Descargar para Android</div></a></li>
                        <li><a href="https://www.apple.com/app-store/"><div class="ios">Descargar para iOS</div></a></li>
                    </ul>

                </li>
            </ul>
        </div>

        <div class="nombre-Berle-G">Berle G</div>

        <form class="barra-de-busqueda" action="/" method="">
            <div class="barra-busqueda">
            <input type="text" placeholder="Buscar"><i class="fas fa-search"></i>
            </div>
        </form>

        <ul class="barra-de-opciones-iconos">
            <li><a href="/favourites"><i class="far fa-heart"></i></a></li>
            <li><a href="/access/login"><i class="fas fa-user"></i></a></li>
            <li><a href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
        </ul>
    </div>

    <div class="secciones-por-edades">
        <i class="fas fa-chevron-left"></i>
        <li><a href="/the-most-wanted"><img src="/img/seccion-lo-mas-buscado.png">Lo más buscado</a></li>
        <li><a href="/children/boy"><img src="/img/seccion-niño.jpg">Niño</a></li>
        <li><a href="/men"><img src="/img/seccion-hombre.jpg">Hombre</a></li>
        <li><a href="/novelties"><img src="/img/seccion-novedades.png">Novedades</a></li>
        <li><a href="/women"><img src="/img/seccion-mujer.jpg">Mujer</a></li>
        <li><a href="/children/girl"><img src="/img/seccion-niña.jpg">Niña</a></li>
        <li><a href="/best-sellers"><img src="/img/seccion-los-mas-vendidos.png">Los más vendidos</a></li>
        <li><a href="/babys"><img src="/img/seccion-bebés.jpg">Bebés</a></li>
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="ofertas"><a href="/sales"><div class="ir-a-ofertas">Rebajas</div></a></div>

    <div>&nbsp</div>

    </header>

    <main>
    </main>

    <footer>
        
        <section class="colecciones">
            <div class="nombre-seccion">COLECCIONES</div>
            <ul>
                <li><a href="/the-most-wanted">Lo más buscado</a></li>
                <li><a href="/children/boy">Niño</a></li>
                <li><a href="/men">Hombre</a></li>
                <li><a href="/novelties">Novedades</a></li>
                <li><a href="/women">Mujer</a></li>
                <li><a href="/children/girl">Niña</a></li>
                <li><a href="/best-sellers">Los más vendidos</a></li>
                <li><a href="/babys">Bebés</a></li>
            </ul>
        </section>

        <section class="empresa">
            <div class="nombre-seccion">EMPRESA</div>
            <ul>
                <li><a href="/work-at-Berle-G">Trabajar en Berle G</a></li>
                <li><a href="/about-us">Acerca del grupo Berle G</a></li>
                <li><a href="/social-responsability">Responsabilidad social</a></li>
                <li><a href="/investor-relations">Relación con inversionistas</a></li>
                <li><a href="/business-policy">Política empresarial</a></li>
            </ul>
        </section>

        <section class="ayuda">
            <div class="nombre-seccion">¿NECESITAS AYUDA?</div>
            <ul>
                <li><a href="/frequent-questions">Preguntas frecuentes</a></li>
                <li><a href="/contact">Contacto</a></li>
                <li><a href="/payment-options">Opciones de pago</a></li>
                <li><a href="/shipments">Envío</a></li>
                <li><a href="/returns">Devoluciones</a></li>
                <li><a href="/gifts">Regalo de empresa</a></li>
            </ul>
        </section>

        <section class="siguenos">
            <div class="nombre-seccion">SÍGUENOS</div>
            <ul>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://twitter.com/tww?lang=es">Twitter</a></li>
                <li><a href="https://www.instagram.com/?hl=es-la">Instagram</a></li>
                <li><a href="https://www.youtube.com/">YouTube</a></li>
                <li><a href="https://www.pinterest.com.mx/">Pinterest</a></li>
            </ul>
        </section>

        <section class="registro">
            <div class="nombre-seccion">REGÍSTRATE</div>
            <ul>
                <li>Al introducir su dirección de correo electrónico en el enlace de abajo, 
                    acepta recibir nuestra newsletter con las últimas novedades sobre nuestras colecciones, 
                    eventos e iniciativas.</li>
                <li>Puede encontrar más información al respecto en nuestra Política de privacidad.</li>
            </ul>
            <div class="registro-footer">
                <div>Regístrate con tu correo electrónico</div>
                <a href="/access/register"><i class="fas fa-chevron-right"></i></a>
            </div>
        </section>

    </footer>

</body>
</html>