<!DOCTYPE html><!--Detalles del producto-->
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalles del producto</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles-index.css">
    </head>
    <body>
    
        <header id="fondo-header">
    
        <div class="barra-de-navegacion">
    
            <ul class="barra-de-opciones">
                <li><a href="/customer-service">Atención al cliente</a></li>
                <li><a href="/store-locator"   >Encuentra tu tienda</a></li>
            </ul>
    
            <form action="value" class="formulario1" method="GET" name="formulario1">
                <select name="despegable1" onchange="location.replace(document.formulario1.despegable1.value)">
                    <option value="Seleccione una opción"           >--Seleccione          </option>
                    <option value="https://play.google.com/store"   >Descargar para Android</option>
                    <option value="https://www.apple.com/app-store/">Descargar para iOS    </option>
                </select>
            </form>
    
            <div class="nombre-Berle-G">Berle G</div>
    
            <form class="barra-de-busqueda" action="/" method="">
                <div class="barra-busqueda">
                <input type="text" placeholder="Buscar"><i class="fas fa-search"></i>
                </div>
            </form>
    
            <ul class="barra-de-opciones-iconos">
                <li><a href="/favourites"><i class="far fa-heart"></i></a></li>
                <li><a href="/access/login"><i class="fas fa-user"></i></a></li>
                <li><a href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    
        <div class="secciones-por-edades">
            <li><a href="/the-most-wanted"><img src="/img/seccion-lo-mas-buscado.jpg">Lo más buscado</a></li>
            <li><a href="/children/boy"><img src="/img/seccion-niño.jpg">Niño</a></li>
            <li><a href="/men"><img src="/img/seccion-hombre.jpg">Hombre</a></li>
            <li><a href="/novelties"><img src="/img/seccion-novedades.jpg">Novedades</a></li>
            <li><a href="/women"><img src="/img/seccion-mujer.jpg">Mujer</a></li>
            <li><a href="/children/girl"><img src="/img/seccion-niña.jpg">Niña</a></li>
            <li><a href="/babys"><img src="/img/seccion-bebés.jpg">Bebés</a></li>
        </div>

        <div>&nbsp</div>
        
        </header>
    
        <main>
    
        </main>
    
        <footer>
    
        </footer>
    
    </body>
</html>