/*-----------------------PALETA DE COLORES-----------------------*/
:root {
    --Color1-register:#621970;
    --Color2-register:#97443e;
    --Color3-register:#414040;
}

/*-------------------------ESTILOS FIJOS-------------------------*/

.ir-a-ofertas,
.ofertas {
   display: none;
}

/*--------------------MODIFICACIONES A HEADER--------------------*/

nav {
   background-image: url("https://wi.wallpapertip.com/wsimgs/56-565219_carmine.jpg");
   margin-bottom: 0;
}
nav:hover {
   background-image: url("https://images.alphacoders.com/871/thumb-1920-87123.jpg");
}
#fondo-header {
   background-image: none;
}
.secciones-por-edades {
   display: none;
}

/*-------------------------ESTILOS REGISTER-------------------------*/

.apellido-materno, .apellido-paterno, .contraseña, .correo-electrónico, .fecha-nacimiento, .nombre {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.aprobacion-terminos-condiciones {
   font-size: 10px;
   margin-bottom: 4%;
   margin-top: 4%;
}
.aprobacion-terminos-condiciones a {
   font-size: 10px;
   text-decoration: underline;
}
.as-no-visible {
   opacity: 0;
}
.boton-crear-cuenta {
   text-align: center;
}
.crear-cuenta {
   background-color: var(--Color4-index);
   border: 2px solid var(--Color4-index);
   border-radius: 10px;
   color: var(--Color3-index);
   font-weight: bold;
   margin-bottom: 3%;
   margin-top: 3%;
   padding: 1% 3%;
   width: 80%;
}
.crear-cuenta:hover {
    background-color: var(--Color2-register);
    border: 2px solid var(--Color2-register);
}
.datos-personales, .informacion-de-ingreso input {
   width: 100%;
}
.ingresar-correo {
   text-align: center;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-right: 5%;
}
.ingresar-google {
    border: 2px solid var(--Color6-index);
}
.ingresar-google div {
    align-items: center;
    color: var(--Color3-register);
    display: flex;
    font-size: 13px;
    justify-content: center;
    padding: 1%;
}
main {
    color: var(--Color3-register);
    display: flex;
    justify-content: center;
}
main form {
   box-shadow: 0px 0px 10px var(--Color4-index);
   padding: 15px;
}
main form div {
   margin-bottom: 6px;
   margin-top: 6px;
}
main form h3 {
   color: var(--Color3-index);
   margin-bottom: 22px;
   margin-top: 15px;
   text-align: center;
}
main input {
   border: solid 1px var(--Color3-index);
   padding: 5px;
}
main form input:hover {
   background-color: var(--Color1-login);
}
main label {
   font-size: 13px;
   text-align: left;
}
main .nombre-seccion {
    border-bottom: 0.5px solid var(--Color1-register);
    font-size: 14px;
    margin-bottom: 4%;
    margin-top: 4%;
    text-align: left;
}
span {
   color: red;
}

/*----------------------CONFIGURACIÓN PARA CELULAR----------------------*/

@media (min-width: 280px) {

   header {
      height: auto;
   }
   main form {
      width: 350px;
   }
   main form h3 {
      font-size: 15px;
   }
   .domicilio input {
      width: 48%;
      margin-bottom: 2%;
   }
}

/*----------------------CONFIGURACIÓN PARA TABLET----------------------*/
@media (min-width: 480px) {

   .contraseñas, 
   .nombre-y-apellido {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
   .domicilio {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 100%;
   }
   .domicilio div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .domicilio input {
      width: 48%;
      margin-bottom: 2%;
   }
   .ingresar-google div {
      font-size: 16px;
   }
   main form {
      width: 400px;
   }
   main form h3 {
      font-size: 20px;
   }
}
/*----------------------CONFIGURACIÓN PARA DESKTOP----------------------*/

@media (min-width: 769px) {

   header:hover .secciones-por-edades {
      display: inline-flex;
   }
   main form {
      width: 500px;
   }
   
}