/*-----------------------PALETA DE COLORES-----------------------*/
:root {
    --Color1-index:#ffffff;
    --Color2-index:#e9ae97;
    --Color3-index:#000102;
    --Color4-index:rgb(201, 67, 67);
    --Color5-index:rgba(43, 3, 51);
    --Color6-index:#a1a7a1;
    --Color7-index:rgba(248, 95, 95, 0.945);
}

/*-------------------------ESTILOS FIJOS-------------------------*/
* {
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
    margin: 0px;
    padding: 0px;
}

/*-------------------------ESTILOS HEADER-------------------------*/
a {
    color: var(--Color3-index);
    text-decoration: none;
}
.barra-de-busqueda {
    position: relative;
}
.barra-de-busqueda input {
    border: solid 1px var(--Color4-index);
    border-radius: 10px;
    font-size: 11px;
    width: 100%;
}
.barra-de-opciones-iconos{
    display: flex;
    justify-content: space-around;
}
.fa-heart::before {
    color: var(--Color3-index);
}
.fa-search::before {
    background-color: var(--Color1-index);
    border-radius: 15px;
    padding-right: 5px;
    position: absolute;
    right: 3px;
}
.fa-shopping-bag::before {
    color: var(--Color3-index);
}
.fa-user::before {
    color: var(--Color3-index);
}
#fondo-header {
    background-image: url("/img/img-main/logo-Berle-G.jpg");
    background-size: 100vw;
}
li {
    list-style-type: none;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
nav:hover .fa-heart::before {
    color: var(--Color1-index);
}
nav:hover .fa-shopping-bag::before {
    color: var(--Color1-index);
}
nav:hover .fa-user::before{
    color: var(--Color1-index);
}
nav:hover .nombre-Berle-G {
    color: var(--Color1-index);
}
.nombre-Berle-G {
    color: var(--Color3-index);
    width: 30vw;
}


/*----------------------CONFIGURACIÓN PARA CELULAR----------------------*/

@media (min-width: 280px) {

    /*Header*/

    .barra-de-busqueda {
        width: 27vw;
    }
    .barra-de-busqueda input {
        margin-top: 8px;
        padding: 1.5px;
    }
    .barra-de-opciones-celular-tablet {
        background-color: var(--Color7-index);
        display: none;
        font-size: 10px;
        top: 32.5px;
        left: 0;
        position: absolute;
        width: 150px;
    }
    .barra-de-opciones-celular-tablet li {
        font-size: 12px;
        padding: 5%;
    }
    .barra-de-opciones-iconos {
        padding-top: 7px;
        width: 28vw;
    }
    .nav-celular-tablet {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .nav-celular-tablet:hover .barra-de-opciones-celular-tablet {
        display: block;
    }
    .nav-desktop {
        display: none;
    }
    nav:hover .menu-celular-tablet{
        color: var(--Color1-index);
    }
    .fa-search::before {
        top: 10px;
    }
    header {
        height: 100px;
    }
    .menu-celular-tablet {
        align-items: center;
        display: flex;
        font-size: 16px;
    }
    .nombre-Berle-G {
        font-size: 150%;
    }
    .ofertas {
        display: none;
    }
    .secciones-por-edades {
        display: none;
    }

    /*Catálogos*/

    .catalogo-primavera-verano-mujeres, 
    .catalogo-primavera-verano-hombres {
        padding-bottom: 15%;
    }
    .catalogo-primavera-verano-mujeres img, 
    .catalogo-primavera-verano-hombres img {
        width: 100%;
    }
    .catalogo-primavera-verano-mujeres .nombre-catalogo,
    .catalogo-primavera-verano-hombres .nombre-catalogo {
        font-weight: bold;
        font-size: 4vw;
    }
    main {
        padding-left: 5%;
        padding-right: 5%;
    }

    /*Secciones importantes*/

    .seccion-importante {
        background-image: url("https://i.pinimg.com/originals/b0/e0/4e/b0e04e3b74012a57ebbf4e6e48aaae86.jpg");
        margin-bottom: 5vw;
        margin-top: 5vw;
        text-align: center;
        width: 100%;
    }
    .seccion-importante a div {
        font-size: 5vw;
        font-weight: bold;
        padding-bottom: 4%;
        padding-top: 4%;
    }

    /*Footer*/

    .colecciones {
        display: none;
    }
    .fa-facebook::before,
    .fa-twitter::before,
    .fa-instagram::before,
    .fa-youtube::before,
    .fa-pinterest::before {
        font-size: 22px;
        color:var(--Color5-index);
    }
    footer {
        background-color: var(--Color2-index);
        padding: 3% 5% 0.05% 5%;
        text-align: center;
    }
    footer section {
        margin-bottom: 5%;
    }
    footer ul {
        font-size: 12px;
    }
    .iconos-redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 2%;
    }
    .nombre-seccion {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 5px;
    }
    .registro {
        display: none;
    }
    .siguenos-desktop {
        display: none;
    }
    .siguenos-tablet-celular {
        font-weight: bold;
    }

}

/*----------------------CONFIGURACIÓN PARA TABLET----------------------*/

@media (min-width: 480px) {
    
    header {
        height: auto;
    }
    .ir-a-ofertas {
        background-color: var(--Color3-index);
        color: var(--Color2-index);
        font-size: 3vw;
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }
    main {
        padding-left: 0;
        padding-right: 0;
    }
    .nombre-Berle-G {
        text-align: left;
    }
    .ofertas {
        display: block;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 30px;
    }

    /*Catálogos*/

    .catalogos-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }
    .catalogo-primavera-verano-mujeres, 
    .catalogo-primavera-verano-hombres {
        width: 42.5%;
    }
    .catalogo-primavera-verano-mujeres img, 
    .catalogo-primavera-verano-hombres img {
        height: 37vw;
    }
    .catalogo-primavera-verano-mujeres .nombre-catalogo,
    .catalogo-primavera-verano-hombres .nombre-catalogo {
        font-size: 2.5vw;
    }
    .catalogo-primavera-verano-mujeres, 
    .catalogo-primavera-verano-hombres {
        padding-bottom: 0;
    }

    /*Estilos de las secciones importantes (debajo del catálogo)*/
    
    .secciones-importantes-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .seccion-importante {
        margin-bottom: 2vw;
        margin-top: 2vw;
        text-align: center;
        width: 42.5vw;
    }
    .seccion-importante a div {
        font-size: 2.5vw;
    }

    /*Footer*/

    footer {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2%;
        padding-top: 2%;
    }
    footer a {
        font-size: 11px;
    }
    footer section {
        margin-bottom: 0;
        text-align: left;
    }
    .iconos-redes {
        justify-content: space-between;
    }
    .nombre-seccion {
        font-size: 13px;
    }
    .siguenos-tablet-celular {
        width: 30%;
        font-size: 13px;
    }

}
/*----------------------CONFIGURACIÓN PARA DESKTOP----------------------*/

@media (min-width: 769px) {

    .barra-de-busqueda input {
        margin-top: 15px;
        padding: 3px;
    }
    .barra-de-opciones-desktop {
        display: flex;
        justify-content: space-around;
        padding-top: 17px;
        width: 28vw;
    }
    .barra-de-opciones-desktop li {
        font-size: 1.2vw;
        text-align: center;
        width: 100%;
    }
    .barra-de-opciones-iconos {
        padding-top: 16px;
    }
    .colecciones, .registro {
        display: block;
    }
    .nav-desktop {
        display: flex;
        width: 35vw;
    }
    .fa-search::before {
        top: 18px;
    }
    nav {
        margin-bottom: 5%;
    }
    .nav-celular-tablet {
        display: none;
    }
    nav:hover .barra-de-opciones-desktop a{
        color: var(--Color1-index);
    }
    .nombre-Berle-G {
        text-align: center;
        font-size: 35px;
    }
    .ofertas {
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 30px;
    }
    .secciones-por-edades {
        background-color: #e9ae9790;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .secciones-por-edades i {
        font-size: 2vw;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 5%;
    }
    .secciones-por-edades img {
        border-radius: 50%;
        width:8vw;
    }
    .secciones-por-edades a {
        align-items: center;
        display:flex;
        flex-direction: column;
        font-size: 1.2vw;
        margin-left: 1vw;
        margin-right: 1vw;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        width: 9.5vw;
    }
    .siguenos-desktop {
        display: block;
    }
    .siguenos-tablet-celular {
        display: none;
    }
    
    /*Menú despegable de Header*/

    .android-desktop, .ios-desktop {
        padding: 2% 4%;
    }
    .android-desktop:hover {
        background-color: var(--Color2-index);
    }
    nav:hover .item-menu-desktop i {
        color: var(--Color1-index);
    }
    .barra-de-opciones-desktop a {
        font-size: 100%;
    }
    .ios-desktop:hover {
        background-color: var(--Color2-index);
    }
    .item-menu-desktop {
        display: block;
        font-size: 20px;
        padding-top: 1.3vw;
        position: relative;
    }
    .item-menu-desktop:hover i {
        border-radius: 50%;
        background-color: var(--Color4-index);
        padding: 5px;
    }
    .item-menu-desktop:hover .opciones-despegables-desktop {
        display: block;
    }
    .menu-despegable-desktop {
        text-align: left;
        width: 7vw;
    }
    .opciones-despegables-desktop {
        background-color: #ffffff92;
        font-size: 1.2vw;
        position: absolute;
        width: 15vw;
        display: none;
        top: 48px;
    }

    /*-------------------------ESTILOS FOOTER-------------------------*/

    footer section a {
        font-size: 1.1vw;
    }
    .nombre-seccion {
        font-size: 1.3vw;
    }
    footer section li {
        font-size: 1.1vw;
        text-align: justify;
    }
    .registro {
        width: 27vw;
    }
    .registro-footer {
        display: flex;
        font-size: 1.2vw;
        font-weight: bold;
        justify-content: space-around;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 100%;
    }
    .registro-footer div {
        background-color: var(--Color6-index);
        padding-bottom: 5px;
        padding-top: 5px;
        width: 90%;
    }
    .registro-footer a {
        background-color: var(--Color4-index);
        padding-bottom: 5px;
        padding-top: 5px;
        width: 10%;
    }
    .registro-footer a {
        text-align: center;
    }    
    .seccion-importante a div {
        font-size: 2vw;
    }

}