<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berle G</title>
    <%- include("../partials/head-links") %>
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>

<!-- -------------------------MAIN------------------------- -->

    <main class="contenido-pagina-principal">

        <div>&nbsp</div>

        <div class="catalogos-main">

            <section class="catalogo">
                <a href="/productos/mujer/primavera-verano-2021">
                    <img src="http://1.bp.blogspot.com/-IT5b5D0I7_0/VdjbEYTBLuI/AAAAAAABRdA/kLv8qdozUIM/s1600/Moda%2Bprimavera%2Bverano%2B2016%2Btendencias%2Bmoda%2B2016.jpg" alt="">
                    <div class="nombre-catalogo">Catálogo primavera-verano 2021</div>
                 </a>
            </section>
        
            <section class="catalogo">
                <a href="/productos/hombre/primavera-verano-2021">
                    <img src="https://tienda1.anacondaweb.com/wp-content/uploads/2018/06/vestuario_hombre_3.jpg" alt="">
                    <div class="nombre-catalogo">Catálogo primavera-verano 2021</div>
                 </a>
            </section>

        </div>

        <%- include("../partials/main") %>

        <div>&nbsp</div>

    </main>

<!-- ------------------------FOOTER------------------------ -->

<%- include("../partials/footer") %>

</body>
</html>