<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito de compras</title>
        <%- include("../partials/head-links") %>
        <link rel="stylesheet" href="/css/styles-cart.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>
<div>&nbsp</div>

<!-- -------------------------MAIN------------------------- -->

    <main>

        <section class="producto-a-comprar-desktop-tablet">
            <div class="celular">
                <div class="imagen-de-articulo-ejemplo"><img src="/img/img-main/my-product.jpg" alt=""></div>
                <div class="detalle-de-articulo-ejemplo">
                    <div class="nombre-producto">Nombre del producto</div>
                    <div class="precio-producto">$000.00</div>
                    <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nisi ipsa consequatur iure deleniti ut est hic aut, 
                    illo officiis odit voluptatem. Optio, molestiae.</p>
                </div>
            </div>

            <div class="icon-cantidad">
                <div class="me-encanta-icon"><i class="far fa-heart"></i></div>
                <div class="cantidad-de-articulos">
                    <label>Cantidad de artículos</label>
                    <div class="input-icon-cantidad"><input type="text"></div>
                </div>
                <div class="cantidad-total-por-articulo">
                    <label>Total</label>
                    <div class="input-icon-cantidad"><input type="text"></div>
                </div>
            </div>
        </section>

        <section class="detalle-de-compra">

            <div class="codigo-descuento">
                <label>Agregar código de descuento</label>
                <div><input type="text"></div>
            </div>

            <div class="boton-de-ingreso">
                <button type="submit" class="enviar">INGRESAR</button>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quae distinctio incidunt ut, officiis odit natus?</p>

            <div class="total-compra">
                <label>Total</label>
                <input type="text">
            </div>

            <div class="boton-continuar-compra">
                <button type="submit" class="continuar-compra">CONTINUAR CON LA COMPRA</button>
            </div>
            
            <div class="tarjetas-aceptadas">
                <div>Aceptamos:</div>
                <div>
                    <img src="/img/img-main/american-express.jpg" alt="">
                    <img src="/img/img-main/pay-pal.jpg" alt="">
                    <img src="/img/img-main/visa.jpg" alt="">
                    <img src="/img/img-main/mastercard.png" alt="">
                </div>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Doloremque quae eum nostrum sint incidunt maiores ratione.</p>
            
            <div class="entregas-devoluciones">
                <div>Formas de entregas y devoluciones</div>
                <a href="/deliveries-and-returns"><i class="fas fa-chevron-right"></i></a>
            </div>
        
            </section>
    </main>

<!-- ------------------------FOOTER------------------------ -->

<div>&nbsp</div>
<%- include("../partials/footer") %>

</body>

</html>