<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tu cuenta</title>
        <%- include("../partials/head-links") %>
        <link rel="stylesheet" href="/css/styles-login.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>

<!-- -------------------------MAIN------------------------- -->

    <main>

        <form action="/your-account" method="">

            <h3>Mi cuenta Berle G</h3>
    
            <div class="usuario">
                <label>Usuario:</label>
                <input type="text" name="Usuario" required>
            </div>
    
            <div class="contraseñas">
                <div class="contraseña">
                <label>Contraseña:</label>
                <input type="password" name="Contraseña" required maxlength="8">
                </div>
            </div>
    
            <div class="restablecer-contraseña"><a href="/new-password">Olvidé mi contraseña</a></div>

            <div class="boton-de-ingreso">
                <button type="submit" class="enviar">INGRESAR</button>
            </div>

            <div class="enlace-para-registro">
                <div>¿No tienes cuenta?</div>
                <a href="/access/register">Regístrate</a>
            </div>
    
        </form>

    </main>

<!-- ------------------------FOOTER------------------------ -->

<div>&nbsp</div>
<%- include("../partials/footer") %>

</body>

</html>