<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <%- include("../partials/head-links") %>
    <link rel="stylesheet" href="/css/styles-register.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>

<!-- -------------------------MAIN------------------------- -->

    <main>

        <form action="/" method="">

            <h3>Su cuenta Berle G</h3>

            <div class="ingresar-google">
                <a href="https://accounts.google.com/signin/v2/identifier?service=accountsettings&continue=https%3A%2F%2Fmyaccount.google.com%2F%3Futm_source%3Dsign_in_no_continue&ec=GAlAwAE&flowName=GlifWebSignIn&flowEntry=AddSession">
                <div>
                <i class="fab fa-google fa-2x"></i>
                CONTINUAR CON GOOGLE
                </div>
                </a>
            </div>

            <div class="ingresar-correo">
                <div>o</div>
                <div>continúe con su cuenta de correo electrónico</div>
            </div>
    
            <section class="datos-personales">

                <div class="nombre-seccion">Información personal</div>

                <div class="nombre-y-apellido">
    
                    <div class="nombre">
                    <label>Nombre<span> *</span></label>
                    <input type="text" placeholder="Astrid" name="Nombre y apellido" required>
                    </div>
    
                    <div class="apellido-paterno">
                    <label>Apellido paterno<span> *</span></label>
                    <input type="text" placeholder="Cuevas" name="Apellido paterno" required>
                    </div>
    
                    <div class="apellido-materno">
                    <label>Apellido materno</label>
                    <input type="text" placeholder="Galindo" name="Apellido materno">
                    </div>
    
                </div>

                <div class="fecha-nacimiento">
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="Fecha de nacimiento" value="AAAA/MM/DD">
                </div>
        
                <div class="domicilio">
                    <label>Domicilio</label>
                    <div class="campos-a-llenar-domicilio">
                    <input type="text" placeholder="Calle"           name="Domicilio" required> <span> * </span>
                    <input type="text" placeholder="Número interior" name="Domicilio" required> <span> * </span>
                    <input type="text" placeholder="Número exterior" name="Domicilio"> <span class="as-no-visible"> * </span>
                    <input type="text" placeholder="Colonia"         name="Domicilio" required> <span> * </span>
                    <input type="text" placeholder="Localidad"       name="Domicilio" required> <span> * </span>
                    <input type="text" placeholder="Código postal"   name="Domicilio" required> <span> * </span>
                </div>

            </section>
    
            <section class="información-ingreso">

                <div class="nombre-seccion">Información de ingreso</div>

                <div class="contraseñas">
                    <div class="contraseña">
                    <label>Contraseña<span> *</span></label>
                    <input type="password" name="Contraseña" required>
                </div>
                <div class="contraseña">
                    <label>Confirmar contraseña<span> *</span></label>
                    <input type="password" name="Confirmar contraseña" required>
                </div>

            </section>

            <section class="aprobaciones">

                <div class="aprobacion-de-correo">
                    <label><input type="checkbox" name="aprobacion">Deseo recibir por correo electrónico información sobre ofertas, nuevas colecciones, colaboraciones e invitaciones o eventos y ventas especiales.</label>
                </div>

                <div class="aprobacion-terminos-condiciones">Al hacer click en ''CREAR CUENTA'' estoy de acuerdo con los 
                    <a href="/terminos-y-condiciones">Términos y Condiciones</a> de Berle G.
                </div>

            </section>

            <div class="boton-crear-cuenta">
                <button type="submit" class="crear-cuenta">CREAR CUENTA</button>
            </div>
    
        </form>

    </main>

<!-- ------------------------FOOTER------------------------ -->

<div>&nbsp</div>
<%- include("../partials/footer") %>

</body>

</html>