<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hombre: primavera-verano</title>
    <%- include("../partials/head-links") %>
    <link rel="stylesheet" href="/css/styles-men-catalog.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>

<!-- -------------------------MAIN------------------------- -->

    <main>

        <div>&nbsp</div>

        <h3>Catálogo primavera-verano 2021</h3>

        <div class="articulos-mujer-catalogo">

            <article>
                <img src="/img/img-hombres/camiseta-beige.jpg" alt="">
                <div class="descripcion-general-articulo">
                    <p class="nombre-producto"><strong>Camiseta con estampado de manos</strong></p>
                    <p class="precio">$359.00</p>
                    <p class="descuento">-60%</p>
                    <div class="fa-truck-article"><i class="fas fa-truck"></i></div>
                </div>
            </article>

            <article>
                <img src="/img/img-hombres/camiseta-colorblock.jpg" alt="">
                <div class="descripcion-general-articulo">
                    <p class="nombre-producto"><strong>Camiseta color block tee</strong></p>
                    <p class="precio">$359.00</p>
                    <p class="descuento">-60%</p>
                    <div class="fa-truck-article"><i class="fas fa-truck"></i></div>
                </div>
            </article>

            <article>
                <img src="/img/img-hombres/camiseta-rayas.jpg" alt="">
                <div class="descripcion-general-articulo">
                    <p class="nombre-producto"><strong>Camiseta con estampado de rayas</strong></p>
                    <p class="precio">$359.00</p>
                    <p class="descuento">-60%</p>
                    <div class="fa-truck-article"><i class="fas fa-truck"></i></div>
                </div>
            </article>

            <article>
                <img src="/img/img-hombres/camiseta-rosa.jpg" alt="">
                <div class="descripcion-general-articulo">
                    <p class="nombre-producto"><strong>Camiseta color pink</strong></p>
                    <p class="precio">$359.00</p>
                    <p class="descuento">-60%</p>
                    <div class="fa-truck-article"><i class="fas fa-truck"></i></div>
                </div>
            </article>

        </div>

        <div class="secciones-importantes-main">
            <div class="seccion-importante"><a href="/novelties"><div>NOVEDADES</div></a></div>
            <div class="seccion-importante"><a href="/best-sellers"><div>LOS MÁS VENDIDOS</div></a></div>
            <div class="seccion-importante"><a href="/sales"><div>REBAJAS</div></a></div>
            <div class="seccion-importante"><a href="/the-most-wanted"><div>LO MÁS BUSCADO</div></a></div>
        </div>

        <div>&nbsp</div>

    </main>

<!-- ------------------------FOOTER------------------------ -->

<%- include("../partials/footer") %>

</body>
</html>