<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalles del producto</title>
        <%- include("../partials/head-links") %>
        <link rel="stylesheet" href="/css/styles-articles.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>
<div>&nbsp</div>

<!-- -------------------------MAIN------------------------- -->

<%- include("../partials/main-articles") %>

<!-- ------------------------FOOTER------------------------ -->

<div>&nbsp</div>
<%- include("../partials/footer") %>

</body> 

</html>